/Users/fabiolopes/Desktop/workspace/springfield/cypress/downloads
/Users/fabiolopes/Desktop/workspace/springfield/cypress/fixtures
/Users/fabiolopes/Desktop/workspace/springfield/cypress/screenshots
/Users/fabiolopes/Desktop/workspace/springfield/cypress/support
/Users/fabiolopes/Desktop/workspace/springfield/node_modules
/Users/fabiolopes/Desktop/workspace/springfield/cypress/fixtures/config.json
cypress/fixtures/example.json
